body,html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

table.PLC_rung {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-collapse: collapse;
    table-layout:fixed;
} 

td.PLC_column {
    width: 80px;
    height: 40px;
    
    white-space: nowrap;
    background-size: 80px 40px;

}

.PLC_label {
    width: 80px;
    position: relative;
    top: 20px;
    font-size: 12px;
    text-align: center;
}

td.PLC_column.high {
    background-color: greenyellow;
}

td.PLC_column.low {
    background-color: tomato;
}

td.PLC_column.selected {
    background-color: yellow;
}

td.PLC_column:hover {
    background-color: silver;
}

svg {
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
}

.btn svg {
    width: 75%;
    height: 75%;
    position: relative;
    top: 2px;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 0px 30px;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
    overflow: scroll;
}

.box .row.footer {
    flex: 0 1 auto;
}

// checkbox dla wejścia


.PLC_input, .PLC_output {
    display: none;

}

.PLC_input  + label, .PLC_output + label {
    background-color: #eee;
    padding: 6px 8px;
    display: inline-block;
    position: relative;
    margin: 0px;
}

.PLC_input  + label {
    cursor: pointer;
}

.PLC_output + label {
    cursor: not-allowed;
}

.PLC_input + label::before, .PLC_output + label::before {
    content: '0';
}

.PLC_input:checked + label, .PLC_output:checked + label {
    background-color: lime;
}

.PLC_input:checked + label::before, .PLC_output:checked + label::before {
    content: '1';
}

.PLC_input:not(:checked) + label:hover, .PLC_output:not(:checked) + label:hover  {
    background-color: #ddd;
}

.PLC_input + label:hover, .PLC_output + label:hover {
    background-color: green;
}


.PLC_inputs td, .PLC_inputs th, .PLC_outputs td, .PLC_outputs th {
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 1px #ccc;
    border-style: dotted;
}

.PLC_inputs, .PLC_outputs {
    float: left;
    font-size: 12px;
}

.PLC_inputs input[type=text] {
    width: 40px;
    text-align: center;
}