.PLC_polaczenie_pionowe {

}

.xGxD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_xGxD.svg);
}

.LGPD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_LGPD.svg);
}
.LGPx {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_LGPx.svg);
}
.LGxD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_LGxD.svg);
}
.LGxx {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_LGxx.svg);
}
.LxPD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_LxPD.svg);
}
.LxxD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_LxxD.svg);
}
.xGPD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_xGPD.svg);
}
.xGPx {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_xGPx.svg);
}
.xxPD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_xxPD.svg);
}
.xxxD {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_xxxD.svg);
}
.xGxx {
    background: url(PLC_polaczenie_pionowe/PLC_polaczenie_pionowe_xGxx.svg);
}